*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 63%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: none;/* Hack para box model */
}
body{
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    color: black;
    background-color: #eeeeee;
}

.contenido{
    max-width: 20000rem;
    margin: 0 auto;
    object-fit:cover;
    background-color: #eeeeee;
}

/* TIPOGRAFIAS */
.titulo{
    color: #000;
    text-align: left;
    margin-left: 30px
}
.color-n{
    color: #19B4AA;
}

h1 {
    font-size: 3.8rem;
    font-weight: 200;
    position: le;
}

h2 {
    font-size: 2.8rem;
    color: #19B4AA;
    margin: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

/* HEADER */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
.header a{
    text-decoration: none;
}
.header.encabezado{
    display: flex;
    margin-top: 1rem;
}

.header h1{
    font-weight: lighter;
}

.header span{
    font-weight: bold;
}


/* MENU */

.header__menu{
    width: 80%;
    margin: 2rem auto;
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

.header__menu ul li {

    background: #e1e5e5 ;
    text-align: center;
}
.header__menu li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #19B4AA;

}
.header__menu--activo{
    font-weight: bold;

}

.header__menu li:hover a {
    background: #bfbfb9;
    border-radius: 34rem;
    color: #ffffff;
}


.header__menu li:hover ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    z-index: 5;
}

.header__menu li li {
    display: block;
    width: 100%;
}

.header__menu li:hover li a {
    font-size: 1.5rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: #bfbfb9;
    padding: .4rem;
}

.header__menu li li a:hover {
    background: #bfbfb9;; 
}

/* CONTENIDO PRINCIPAL */
.main{
    background-color: #ffffff;
}
.box{
    background-image:url(../recursos/niño.jpg) ;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding:50px;
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
}
.box p{
    margin: 0rem;
    padding: 0;
    margin-left: 60rem;
    margin-right: 10rem;
    line-height: 1.2;
    font-size: 20px;
    font-family: arial;
    text-align:justify;
    text-justify: auto;
}
.boton_prin{
    margin-top: 10px;
    padding: 11px 11px;
    margin-left: 500px;
}
.contenido_extremo{
    display: grid;
    grid-template-columns: 600px 200px 200px;
    grid-template-rows: 70px 300px 70px 400px;
    gap: 0px 0px;
    grid-template-areas:
        "areaA areaA areaA"
        "areaB areaC areaC"
        "areaD areaD areaD"
        "areaF areaF areaE"
        ;
    }   
.areaA { grid-area: areaA; }   
.areaB { grid-area: areaB; }
.areaC { grid-area: areaC; }
.areaD { grid-area: areaD; }
.areaE { grid-area: areaE; }
.areaF { grid-area: areaF; }
.areaC{
    height: 100%;
    object-fit: cover;
    max-height: 100%;
    transform: scale(0.8);
}
.areaF{
    display: block;
    height: auto;
    object-fit: cover;
    max-height: 100%;
    overflow:hidden;
    transform: scale(0.9);
}
.areaB{
    margin: 2rem;
    padding: 1rem;
    display: block;
    margin-left: 3rem;
    margin-right: 10rem;
    line-height: 1.2;
    font-size: 16px;
    font-family: arial;
    text-align:justify;
    text-justify: auto;
}
.areaE{
    margin: 0rem;
    padding: 0;
    display: block;
    margin-left: 4rem;
    margin-right: -2rem;
    line-height: 1.2;
    font-size: 14px;
    font-family: arial;
    text-align:left;
    text-justify: auto;
}


/* FOOTER */
.footer{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
    flex-direction: column;
}
.footer .redes{
    text-align: center;
}
.footer .redes a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.footer .texto {
    text-align: center;
    margin: 0.8rem;
}

.imagenes{
    display: flex;
}

/* BOTONES */
.boton{
    background-color: #bfbfb9;
    color: #ffffff;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor:pointer;
}
/* CONTACTO */
.submission-form{
    max-width: 700px;
    margin: 2rem auto;
    border: 2px solid #19B4AA;
    padding: 2rem;
}
label{
    display: block;
    padding: 2rem 0 .8rem;
}
input, textarea{
    display: block;
    width: 100%;
    border: 2px solid #bfbfb9;
}
.faq__lista{
    margin: 30px auto;
    width:800px
}
.faq__lista li{
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
}
.faq__lista li label{
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    color:#19B4AA;
}
.faq__lista li label span{
    transform: rotate(90deg);
    font: size 22px;
    color: #19B4AA;
}
.faq__lista label + input[type="radio"]{
    display: none;
}
.faq__lista .content{
    padding: 0 20px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.faq__lista label + input[type="radio"]:checked + .content{
    max-height: 400px;
}
/* UNIDADES */
.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,min(250px,2fr));
    grid-template-rows: repeat(auto-fit,min(250px,3fr));
    grid-auto-rows: 200px;
    padding: 30px;
    grid-gap: 10px;
}
.gallery__item{
    position: relative;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.gallery__title{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(#dcdcd7,#71aca8);
    width: 100%;
    margin: 0;
    padding: 6px;
}
.gallery__item:nth-child(1){
    grid-column-start: span 2;
}

/* RESPONSIVE MEDIANOS*/
@media (max-width: 768px) {
    .header{
        display: flex!important;
        align-items: center;
        justify-content: space-around;
    }
}

/* RESPONSIVE PEQUEÑOS*/
@media (max-width: 425px) {
    .header{
        display: flex!important;
        align-items: center;
        justify-content: space-around;
    }
}

.atencion__lista{
    list-style-position: outside;
    list-style: lower-alpha;
    margin: 25px;
}
.atencionsub__lista{
    list-style-position: outside;
    list-style: lower-alpha;
    margin: 26px;
}
.atencionsub__lista li{
    list-style:circle;
}
.atencionsub2__lista{
    list-style-position: outside;
    list-style: lower-alpha;
    margin: 27px;
}
